.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 9px;
}

.stones-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5;
}

.stone {
  display: flex;
  border: 1px solid #3f3f;
  margin-top: 0.3em;
  align-items: center;
  justify-content: center;
  height: 6em;
  width: 7em;
  background-color: green;
  flex-direction: column;
}

.cards-left {
  overflow: hidden;
  margin-top: 0.3em;
  align-items: center;
  justify-content: center;
  height: 6em;
  width: 7em;
  border: 1px solid #ccc;
  padding-right: 30;
}

.cards-right {
  overflow: hidden;
  margin-top: 0.3em;
  align-items: center;
  justify-content: center;
  height: 6em;
  width: 7em;
  border: 1px solid #ccc;
  padding-right: 30;
  display: flex;
}

.cards-left > .color {
  vertical-align: top;
  text-align: left;
  font-weight: 800;
  display: flex;
}

.value {
  font-size: 4em;
  height: 100%;
  width: 100%;
}
.color {
  width: 100%;
  height: 100%;
  justify-items: right;
  align-items: unset;
}

.cardsPlayerRight {
  display: flex;
  align-items: right;
}

.box-buttons {
  display: flex;
  margin-left: 3px;
}
